header {
text-align: center;
}

body {
display: grid;
justify-content: space-around;
align-items: stretch;
background-image: url("3D-Futuristic-Room-Wallpaper.jpg")
/*background-image: url("436696-PEGWZV-99.jpg")*/
}
#stats {
  text-align: center;
  padding-top: 20px;
}

.leftMain {
display: flex;
flex-direction: column;
justify-content: flex-start;
background:#41B7FE;
flex-wrap: wrap;
justify-content: space-around;
background-image: radial-gradient(#552780, #41B7FE 70%);

}

p {
  color: white;
}

#keys {
  text-align: center;
  
}

li{
  height: 50px;
  width: 50px;
  padding-left: 20px;
  padding-right: 20px;
}



.navigation {
    list-style: none;
    margin: 0;
    background: #41B7FE;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(#552780, #41B7FE 70%);
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
    background: darken(deepskyblue, 2%);
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      padding: 0;
    }
    
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255,255,255,0.3); 
      border-bottom: 1px solid rgba(0,0,0,0.1); 
    }
  
    
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }

button {
  height: 50px;
  width: 50px;
  border-radius: 20px;
  border: solid white;
  background-color: black;
  color: #41B7FE;
  font-size: 2em;
  text-align: center;
  

}

/* @mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  @mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }
  
  @mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
  }
  
  .wrapper {
    @include flexbox();
  }
  
  .item {
    @include flex(1 200px);
    @include order(2);
  } */